<div>
  <form [formGroup]="carForm">
    <div class="row align-items-center stickysection">
      <div class="col-md-6">
        <h4 class="capitalize">{{ title }} Inventory</h4>
      </div>

      <div class="col-md-6 mt-md-0 text-right">
        <button
          *ngIf="editMode"
          mat-raised-button
          class="theme-btn add-btn m-1 mr-3"
          (click)="saveInventory()"
          [disabled]="carForm.invalid"
          [ngClass]="{ disabledBtn: carForm.invalid }"
        >
          <mat-icon class="material-icons-outlined">save</mat-icon>
          Save
        </button>
        <button
          *ngIf="saveMode"
          mat-raised-button
          class="default-btn text-uppercase m-1 mr-3"
          (click)="editInventory()"
        >
          <mat-icon class="material-icons-outlined">mode</mat-icon>
          Edit
        </button>

        <!-- <button
          mat-raised-button
          class="default-btn text-uppercase m-1 mr-3"
          (click)="checkInvalidControl()"
        >
          <mat-icon class="material-icons-outlined">mode</mat-icon>
          CHECK ERROR CONTROL
        </button> -->
      </div>
    </div>

    <div>
      <mat-card class="tableOuterWrap">
        <!-- <div class="tableFilterWrap">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <h5 class="text-light m-0 capitalize">{{ title }} Inventory</h5>
                        </div>
                    </div>
                </div>
            </div> -->
        <div class="row mt-3 justify-content-center">
          <div class="col-md-9">
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Vin Number</mat-label>
                  <input
                    matInput
                    placeholder="Vin Number"
                    formControlName="vinNumber"
                    [readonly]="saveMode"
                  />
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Car Model</mat-label>
                  <mat-select formControlName="carModelId">
                    <mat-option (click)="addEditCarModel('add', {})">
                      Add Car Model
                      <mat-icon class="material-icons-outlined"> add </mat-icon>
                    </mat-option>
                    <mat-option
                      *ngFor="
                        let carModel of carModels$ | async | sort : 'name'
                      "
                      [value]="carModel.id"
                      class="option-with-icon"
                    >
                      {{ carModel.name }}
                      <mat-icon
                        class="material-icons-outlined editDropdownIcon mr-4"
                        (click)="addEditCarModel('edit', carModel)"
                        >mode</mat-icon
                      >
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Year</mat-label>
                  <mat-select formControlName="year">
                    <mat-option
                      *ngFor="let year of years"
                      [value]="year"
                      class="option-with-icon"
                    >
                      {{ year }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Selling Price</mat-label>
                  <input
                    matInput
                    placeholder="Selling Price"
                    formControlName="sellingPrice"
                    type="number"
                    min="0"
                    [readonly]="saveMode"
                  />
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Mileage</mat-label>
                  <input
                    matInput
                    placeholder="Mileage"
                    formControlName="mileage"
                    type="number"
                    min="0"
                    [readonly]="saveMode"
                  />
                </mat-form-field>
              </div>

              <!-- colour needs to be added on the backend -->
              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Car Colour</mat-label>
                  <mat-select formControlName="carColourId">
                    <mat-option (click)="addEditColour('add', {})">
                      Add Car Colour
                      <mat-icon class="material-icons-outlined"> add </mat-icon>
                    </mat-option>
                    <mat-option
                      *ngFor="let colour of colours$ | async | sort : 'name'"
                      [value]="colour.id"
                      >{{ colour.name }}
                      <mat-icon
                        class="material-icons-outlined editDropdownIcon mr-4"
                        (click)="addEditColour('edit', colour)"
                        >mode</mat-icon
                      >
                    </mat-option>
                    <!-- to stop selecting of mat-option when selecting edit (Need it for now) -->
                    <!-- (click)="addEditColour('edit', colour); $event.stopPropagation();" -->
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Ad Platform</mat-label>
                  <mat-select formControlName="advertisingPlatformId">
                    <mat-option (click)="addEditAdPlatform('add', {})">
                      Add Advert Platform
                      <mat-icon class="material-icons-outlined"> add </mat-icon>
                    </mat-option>
                    <mat-option
                      *ngFor="
                        let adPlatform of adPlatforms$ | async | sort : 'name'
                      "
                      [value]="adPlatform.id"
                      >{{ adPlatform.name }}
                      <mat-icon
                        class="material-icons-outlined editDropdownIcon mr-4"
                        (click)="addEditAdPlatform('edit', adPlatform)"
                        >mode</mat-icon
                      >
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Brought Date</mat-label>
                  <input
                    placeholder="Brought Date"
                    matInput
                    [matDatepicker]="picker"
                    formControlName="broughtDate"
                    (focus)="picker.open()"
                    (click)="picker.open()"
                    [readonly]="saveMode"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                    [disabled]="saveMode"
                  >
                  </mat-datepicker-toggle>
                  <mat-datepicker
                    #picker
                    [disabled]="saveMode"
                  ></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Sold Date</mat-label>
                  <input
                    placeholder="Sold Date"
                    matInput
                    [matDatepicker]="picker1"
                    formControlName="soldDate"
                    (focus)="picker1.open()"
                    (click)="picker1.open()"
                    [readonly]="saveMode"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker1"
                    [disabled]="saveMode"
                  >
                  </mat-datepicker-toggle>
                  <mat-datepicker
                    #picker1
                    [disabled]="saveMode"
                  ></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Transfered Date</mat-label>
                  <input
                    placeholder="Transfered Date"
                    matInput
                    [matDatepicker]="picker2"
                    formControlName="transferedDate"
                    (focus)="picker2.open()"
                    (click)="picker2.open()"
                    [readonly]="saveMode"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker2"
                    [disabled]="saveMode"
                  >
                  </mat-datepicker-toggle>
                  <mat-datepicker
                    #picker2
                    [disabled]="saveMode"
                  ></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Returned Date</mat-label>
                  <input
                    placeholder="Returned Date"
                    matInput
                    [matDatepicker]="picker3"
                    formControlName="returnedDate"
                    (focus)="picker3.open()"
                    (click)="picker3.open()"
                    [readonly]="saveMode"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker3"
                    [disabled]="saveMode"
                  >
                  </mat-datepicker-toggle>
                  <mat-datepicker
                    #picker3
                    [disabled]="saveMode"
                  ></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Resold Date</mat-label>
                  <input
                    placeholder="Resold Date"
                    matInput
                    [matDatepicker]="picker4"
                    formControlName="resoldDate"
                    (focus)="picker4.open()"
                    (click)="picker4.open()"
                    [readonly]="saveMode"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker4"
                    [disabled]="saveMode"
                  >
                  </mat-datepicker-toggle>
                  <mat-datepicker
                    #picker4
                    [disabled]="saveMode"
                  ></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Sold Amount</mat-label>
                  <input
                    matInput
                    placeholder="Sold Amount"
                    formControlName="soldAmount"
                    type="number"
                    min="0"
                    [readonly]="saveMode"
                  />
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Client</mat-label>
                  <mat-select formControlName="clientId">
                    <mat-option (click)="addEditClient('add', {})">
                      Add Client
                      <mat-icon class="material-icons-outlined"> add </mat-icon>
                    </mat-option>
                    <mat-option
                      *ngFor="let client of clients$ | async | sort : 'name'"
                      [value]="client.id"
                      >{{ client.name + " " + client.surname }}
                      <mat-icon
                        class="material-icons-outlined editDropdownIcon mr-4"
                        (click)="addEditClient('edit', client)"
                        >mode</mat-icon
                      >
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Client Amount</mat-label>
                  <input
                    matInput
                    placeholder="Client Amount"
                    formControlName="clientAmount"
                    type="number"
                    min="0"
                    [readonly]="saveMode"
                  />
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Commission Amount</mat-label>
                  <input
                    matInput
                    placeholder="Commission Amount"
                    formControlName="commissionAmount"
                    type="number"
                    min="0"
                    [readonly]="saveMode"
                  />
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Comments</mat-label>
                  <textarea
                    placeholder="Comments"
                    matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="15"
                    formControlName="comments"
                    [readonly]="saveMode"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </form>
</div>
