<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <div class="header-text">
    <div>Your Channel</div>
    <!-- <div>Your Name</div> -->
  </div>
  <div class="sidenav-header">
    <img width="32" height="32" src="../../../assets/pexels-photo-247502_lion.jpeg" />
  </div>
  
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <app-custom-sidenav [collapsed]="collapsed()"></app-custom-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <router-outlet></router-outlet>
    <app-footer class="footer"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>