/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    --primary-color: #cc0000;
}

@import "./scss/custom";
@import "./scss/variable";
@import "../node_modules/bootstrap/scss/bootstrap";

$mat-primary: (
    main: #cc0000,
    lighter: #f0b3b3,
    darker: #b90000,
    200: #cc0000,
    //for slide toggle,
    contrast: (
        main: #ffffff,
    lighter: #000000,
    darker: #ffffff,
    )
);

$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);
$theme-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
    (
        color: (
            primary: $theme-primary,
            accent: $theme-accent
        ),
        typography: mat.define-typography-config(),
        density: 0
    )
);

@include mat.all-component-themes($my-theme);

// @import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';
// @import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
// @import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css';
// @import '../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css');
@import url('https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css');