mat-toolbar {
  position: relative;
  z-index: 5;
}

.content {
  padding: 24px;
}

mat-sidenav-container {
  height: calc(100vh - 64px); //64px(toolbar) 40px(footer)
}

mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out;
}

.example-spacer {
  flex: 1 1 auto !important;
}

.sidenav-header {
  padding-top: 24px;
  text-align: center;

  > img {
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }
}

.header-text {
  height: 3rem;

  div {
    position: relative;
    top: 50%;
    transform: translate(-50%);
    margin: 0;
    font-size: 0.8rem;
    line-height: 1rem;
    text-align: center;
    height: auto;
  }

  // >h2 {
  //     margin: 0;
  //     font-size: 1rem;
  //     line-height: 1.5rem;
  // }

  // >p {
  //     margin: 0;
  //     font-size: 0.8rem;
  // }
}

// .hide-header-text {
//     opacity: 0;
//     height: 0px !important;
// }

.menu-item {
  border-left: 5px solid;
  border-left-color: rgba(0, 0, 0, 0);
}

.selected-menu-item {
  border-left-color: var(--primary-color);
  background: rgba(0, 0, 0, 0.05) !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 3rem;
  margin-left: -25px;
}

.footer-content {
  margin-top: 25px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  // -webkit-animation: spin 2s linear infinite;
  // animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.capitalize {
  //Ensure that the word are separated
  word-wrap: break-word;
}

.capitalize::first-letter {
  //capitalize the first letter
  text-transform: capitalize;
}

.link {
  color: blue;
}

.link:hover {
  text-decoration: underline;
}

button.disabledBtn {
  color: gray !important;
  background-color: lightgray !important;
}

.stickysection {
  display: flex;
  flex-wrap: wrap;
  /* Wrap children if they don't fit on one line */
  align-items: center;
  justify-content: space-between;
  /* Space out children equally */
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 17;
  background: #fbfcfd;
}

._dialog {
  width: 100% !important;
  max-width: 500px !important;

  .mat-dialog-container {
    padding: 0;
  }

  @media only screen and (max-width: 767px) {
    max-width: 95vw !important;
  }
}

._dialogClient {
  width: 100% !important;
  max-width: 800px !important;

  .mat-dialog-container {
    padding: 0;
  }

  @media only screen and (max-width: 767px) {
    max-width: 95vw !important;
  }
}

.option-with-icon {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.editDropdownIcon:hover {
  color: #20a7eb;
}
